*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.leftpart{
    background-color: #0B5A6F;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1{
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leftpart h1{
    color: #ffffff;
    font-size: 60px;
}

.img2{
    width: 280px;
    height: 260px;
    position: absolute;
    margin-top: 450px;
    margin-right: -410px;
}

.rightpart{
    background-color: #EAEDF1;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightpart h2{
    margin-top: 50px;
    font-size: 50px;
    color: #0B5A6F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
}

.login-each-field{
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.login-each-field input{
    width: 100%;
    font-size: 15px;
    color: black;
    background-color: #EAEDF1;
    border-radius: 10px;
    border: 1px solid #B5B4B0;
    margin-top: 10px;
    padding: 10px 15px;
    height: 30px;
}


.login-each-field i{
    z-index: 999;
    font-size: 25px;
    position: fixed;
}

.eye-icon{
    margin:20px 10px 10px 10px ;
}

.eye-icon-class{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 107%;
}


/* .box1, .box2{
    font-size: 15px;
    color: black;
    background-color: #EAEDF1;
    border-radius: 10px;
    border: 1px solid #B5B4B0;
    margin-top: 10px;
    padding: 10px 15px;
    height: 30px;
} */

.box1::placeholder, 
.box2::placeholder{
    color: #c7c5bbb1;  
}

.label1{
    font-size: 25px;
    margin-right: 300px;
    margin-top: 20px;
}

.fp{
    align-self: flex-end;
    margin-top: 10px;
}

.submit button {
    background-color: #AAD4E1; 
    font-size: 20px;
    color: black; 
    width: 150px;
    font-weight: bold;
    border-color: #c7c5bbb1; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
    margin-top: 30px;
}

.submit button:hover {
    background-color: #72abbb;
}

.dontacc{
    margin-top: 170px;
    text-align: center;
}

.su{
    color: #0B5A6F;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .main-div {
        flex-direction: column;
    }

    .leftpart {
        width: 100%; /* Take up the full width on smaller screens */
    }

    .rightpart {
        width: 100%; /* Take up the full width on smaller screens */
    }

    .leftpart h1 {
        font-size: 24px;
    }

    .rightpart h2 {
        font-size: 24px;
    }

    .box {
        width: 100%;
    }

    .submit button {
        width: 100%;
    }
}

.error{
    color: red;
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: 18%;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    display: flex;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 70%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: rgba(255, 0, 0, 0.712);
    text-decoration: none;
    cursor: pointer;
}

.modal-content a{
    border-radius: 5px;
    background-color: rgba(84, 119, 216, 0.466);
    color: #222d30;
    font-size: 28px;
    padding: 10px;
}

.myBtn:hover{
    background-color: #222d30;
    color: #fefefe;
}

.myBtn span{
    font-size: 10px;
}

.btn
{   
    text-align: center;
    color: #ffffff;
    background-color: #095570;
    border-color:  white;
    border-radius: 0.5vw;
    padding:0.7vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    font-weight: 300px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    color: #080606;
    background-color: #d2d2f7; 
}

