*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation 
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #0b596f;
    border-left: 10px solid #0B5A6F;
    transition: 0.5s;
    overflow: hidden;
}

.navigation img
{
    width: 150px;
    margin-left: 60px;
}

.navigation img ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width:100%;
    list-style: none;
}
 
.navigation ul li:hover
{
    background-color: #CFE3EA;
}

.navigation ul li:nth-child(7)
{
    margin-bottom: 50px;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 0.75cm;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* main */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}

.topbar{
    width : 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    margin-right: 30px;
}

.user span{
    font-weight: 600;
    font-size: 25px;
}

.bell-icon{
    font-size: 2rem;
    margin-right: 20px;
}

.profile-icon{
    font-size: 3rem;
}


/* .topbar{
    width : 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
} */

/* .toggle{
    position: relative;
    top: 0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
} */

.toggle2{
    position: relative;
    top: 0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    margin-left: 8px;
}

/* .user{
    display: flex;
    align-items: center;
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    cursor:pointer;
}

.user .personicon{
    font-size: 30px;
    margin-left: 10px;
} */

/* ================== Student Details List ============== */
.details {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.details .compdetails{
  display: grid;
  min-height: 500px;
  min-width: 400px;
  background: white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin: 0 auto;
}

.heading-advertisement{
    display: flex;  
    flex-direction: row;
    gap: 25px;
    font-size: 20px;
    margin: 10px 0px 25px 50px;
    color: #0b596f;
}


.card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ad-date{
    width: 220px;
    border-radius: 5px;
    height: 40px;
    padding: 5px 5x 5px 10px;

}

.card .input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 5;
}

.card .calendar-icon {
    position: relative;
    right: 60px;
    transform: translateY(-10%);
    font-size: 24px;
}

.card .bx1, .card select{
    width: 230px;
    height: 40px;
}

.card .h4 {
    margin: 10px 10px; 
}

.card .spaceleft{
    margin: 0px 90px;
}

select, .bx1 {
    width: 100%; 
    padding: 5px;
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

select{
    height: 40px;
    cursor: pointer;
}

.card select{
    margin-left: 15px;
}

.card option{
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center; /* Center the button horizontally within the submit div */
    margin-top: 20px; /* Add margin for spacing */
}

.submit button {
    background-color: #0B5A6F; 
    font-size: 15px;
    color: white; 
    width: 80px;
    border: none;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
}