*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    /* background-color: #EAEDF1; */
    background-image: url('../../assets/images/inter.jpg');
    background-size: cover;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation 
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #0b596f;
    border-left: 10px solid #0B5A6F;
    transition: 0.5s;
    overflow: hidden;
}

.navigation img
{
    width: 150px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.navigation img ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width:100%;
    list-style: none;
}
 
.navigation ul li:hover
{
    background-color: #CFE3EA;
}

.navigation ul li:nth-child(7)
{
    margin-bottom: 50px;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 0.75cm;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
}

.topbar{
    width : 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    margin-right: 30px;
}

.user span{
    font-weight: 600;
    font-size: 25px;
}

.bell-icon{
    font-size: 2rem;
    margin-right: 20px;
}

.profile-icon{
    font-size: 3rem;
}

.details {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.details .heading-advertisement h2{
    margin-left: 25px;
    color: #0b596f;
}

.details .compdetails{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center horizontally */
  width: 60%; /*Adjust width as needed*/
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  margin-top: 100px;
  margin-left: 100px;
}

.compdetails .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    min-height: 500px;
    min-width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    background-color: #D9D9D9; 
}

.compdetails .description{
    width: 20%;
    min-height: 500px;
    min-width: 300px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    background-color: #edcab1;
    font-weight: bold;
}

.name h1{
    margin-top: 70px;
    font-size: 50px;
    font-family: 'inika';
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.name .icon{
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 22px;
}

.description p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: "JetBrains Mono";
}

.link {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 8px 10px;
    background-color: #007bff;
    width: 130px;
    border-radius: 10px;
    margin-left: 65px;
    margin-bottom: 20px;
    color: #ffffff;
}

.submit{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 8px 10px;
    background-color: #0B5A6F;
    width: 70px;
    border-radius: 10px;
    margin-left: 100px;
    color: #ffffff;
}

.submit a{
    text-decoration: none;
    color: #ffffff;
}

.link button{
    font-size: 15px;
    width: 120px;
    padding: 10px 10px;
    background-color: #007bff;
}

.profilepic{
    width: 60px;
    height: 60px;   
    border-radius: 10px;
}

.profilepic img{
    height: 100%;
    object-fit: cover;
}

.imagedisplay{
    width: 400px;
    height: 200px;
}

.imagedisplay img{
    height: 100%;
    object-fit: cover;
}
