*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation 
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #0b596f;
    border-left: 10px solid #0B5A6F;
    transition: 0.5s;
    overflow: hidden;
}

.navigation img
{
    width: 150px;
    margin-left: 60px;
}

.navigation img ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width:100%;
    list-style: none;
}
 
.navigation ul li:hover
{
    background-color: #CFE3EA;
}

.navigation ul li:nth-child(7)
{
    margin-bottom: 50px;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 0.75cm;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* main */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}

.topbar{
    width : 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    cursor:pointer;
}

.user .personicon{
    font-size: 30px;
    margin-left: 10px;
}

/* ================== Student Details List ============== */
.details {
  position: relative;
  width: 100%;
  display: grid;
  padding: 250px;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.details .compdetails{
  position: relative;
  display: grid;
  min-height: 500px;
  min-width: 400px;
  background: white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHeader h2 {
    font-weight: 600;
    color: rgba(9, 62, 76, 1);
}

.details .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px; /* Add some spacing between grid items */
}

.grid .card1{
    text-align: center;
    padding: 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
}

.card{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.card .input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card .calendar-icon {
    position: relative;
    right: 60px;
    transform: translateY(-10%);
    font-size: 24px;
}

.card .bx1, .card select{
    width: 100px;
    height: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

.card .h4 {
    margin: 10px 10px; 
}

.card .spaceleft{
    margin: 0px 90px;
}

select, .bx1 {
    width: 100%; 
    padding: 5px;
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

select{
    height: 40px;
    cursor: pointer;
}

.card select{
    margin-left: 65px;
}

.card option{
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.submit button {
    background-color: #0B5A6F; 
    font-size: 15px;
    color: white; 
    border: none;
    width: 80px;
    height: 40px;
    font-weight: bold;
    padding: 5px 5px; 
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
}