*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation 
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #0b596f;
    border-left: 10px solid #0B5A6F;
    transition: 0.5s;
    overflow: hidden;
}

.navigation img
{
    width: 150px;
    margin-left: 60px;

}

.navigation img ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width:100%;
    list-style: none;
}
 
.navigation ul li:hover
{
    background-color: #CFE3EA;
}

.navigation ul li:nth-child(8)
{
    margin-bottom: 50px;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 0.75cm;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* main */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}


.topbar{
    width : 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;

}

.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    cursor:pointer;
}

/* Cards */

.cardBox{
    position: relative;
    width:100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.cardBox .card{
    position: relative;
    background:white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .number {
    position:relative;
    font-weight: 600;
    font-size: 2.5rem;
    color:#0b596f;
}

.cardBox .card .cardName{
    color:black;
    font-size: 1.2rem;
    margin-top: 20px;
}

.cardBox .card .iconBx{
    font-size: 3.5rem;
    color :#AAD4E1;
}

.cardBox .card:hover{
    background: #CFE3EA;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .companyList{
  position: relative;
  display: grid;
  min-height: 400px;
  background: white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: rgba(9, 62, 76, 1);
}

.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: #0b596f;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    color: rgba(9, 62, 76, 1);
    font-weight: 600;
}



.details .companyList table tr {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .companyList table tr:last-child {
    border-bottom: none;
}

.details .companyList table tbody tr:hover {
    background: #CFE3EA;
    color: black;
}

.details .companyList table tr td {
    padding: 7.25px;
}

.details .companyList table tr td:last-child {
    text-align: end;
}

/*.details .internshipAds table tr td:nth-child(2) {
    text-align: end;
}
.details .internshipAds table tr td:nth-child(3) {
    text-align: center;
}*/



.details .view{
    padding: 2px 10px;
    border: 1px solid rgba(11, 90, 111, 1);
    color: rgba(11, 90, 111, 1);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}













/* ADMIN */



.content {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
}

.notification {
    display: flex;
    width: fit-content;
    
}

.notibutton{
    margin: 1vw;
    padding: 2vw 2vw 2vw 2vw;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    background-color: #04283e;
    color:#CFE3EA;
    transition: background-color 0.3s;
    font-size:1.5vw;
    font-weight:500;
    border-radius: 4vw;
    border: 0.2vw solid #fefefe;
}

.notibutton a{
    text-decoration:none;
    color: #ffffff;
}

.notibutton div{
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.notibutton:hover{
    color:#060808;
    background-color: #89c3e8 ;
}



select {
    border: 2px solid #2f89fd;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: left;
}



.userhover {
    padding: 1.5vw;
    margin-top:1.5vw;
    margin-bottom:2vh;
    margin-right:1vw;
    margin-left:1vw;
    font-size: 0.5vw;
    height: fit-content;
    width: 15%;
    display: block;
    border-radius: 2vw;
    color: #020a13;
    background-color: #96b8e8;
    transition: 0.4s;
}







form {
    border:2px solid #5768e4;
    border-radius: 6px;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.btn
{   
    display:inline-block;
    text-align: center;
    color: #fbfbfb;
    background-color: #0a6485;
    border-radius: 10px;
    padding:0.5vw;
    margin-top: 1vw;
    margin-bottom:1vw;
    margin-left: 2vw ;
    margin-left: 2vw ;
    font-weight: 300px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #5768e4; /* Change the background color on hover */
}



label {
    text-align:left;
    width: 11vw;
    display: inline-block;
    color: #070707;
    font-weight:500;
}

.input-text {
    padding:0.4vw 1vw 0.4vw 1vw;
    background-color: #bfdbf8;
    color: #1a0b0b;
    width: auto;
}

.formgroup {
    margin: 2vw 1vw 2vw 1vw;
    padding: auto;
}


.notibutton:hover a{
    color: #030405;
}

.notification .notibutton:nth-child(3) {
    background-color: rgb(8, 47, 144);
    /* Add any other styles you want to apply */
}

.notification .notibutton:nth-child(3){
    background-color: rgb(8, 47, 144);
    color: #000000;
    /* Add any other styles you want to apply */
}

.notification .notibutton:nth-child(3n):hover{
    color:#c9dbdb;
    background-color: #0cb1df ;
}

.notification .notibutton:nth-child(3n):hover a{
    color: #010106;
}

.notibutton:nth-child(3) a > div div:nth-child(2n) {
    border-radius: 2vw;
    color: #0b0b5e;
    background-color: #bcdfdf ;

}

.notibutton:nth-child(3):hover a > div div:nth-child(2n){
    color: #bfdbf8;
    background-color: #0f061e ;

}

div > span {
    font-size: medium;
    align-items: center;
    margin-left: auto;
    margin-left: auto;
}

