*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
    background-color: #EAEDF1;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: space-between;
}

.main-left{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-left img{
    width: 30%;
    margin-left: 150px;
    margin-top: 45px;
}

.box{
    margin-top: 50px;
    margin-left: 70px;
}

.box .ims-part{
    margin-top: 20px;
}

.welcome-part h1{
    color: #0B5A6F;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome-part h2{
    color: #0B5A6F;
    font-family: Microsoft Sans Serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ims-part p{
    color: #000;
    font-family: Tienne;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.submit button {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anek Odia;
    line-height: normal;
    background-color: #AAD4E1; 
    font-size: 23px;
    color: black; 
    width: 150px;
    font-weight: bold;
    border-color: #c7c5bbb1; 
    padding: 10px 20px; 
    border-radius: 50px; 
    cursor: pointer;
    align-items: center;
    margin-top: 30px;
    stroke-width: 1px;
    stroke: #CDCBCB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px #163F4A);
}

.submit button:hover {
    background-color: #72abbb;
}

.main-right{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-right .topbar{
    list-style: none;
}

.topbar .card{
    display: inline-block;
    padding: 25px 50px;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
}

.topbar .card:hover{
    background-color: #0B5A6F;
    color: white;
}

.main-right img{
    width: 90%;
    margin-top: auto;
}