*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.leftpart{
    background-color: #0B5A6F;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1{
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leftpart h1{
    color: #ffffff;
    font-size: 60px;
}

.img2{
    width: 280px;
    height: 260px;
    position: absolute;
    margin-top: 450px;
    margin-right: -410px;
}

.rightpart{
    background-color: #EAEDF1;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightpart h4{
    margin-top: 50px;
    font-size: 30px;
    color: #0B5A6F;
}

.box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 30px;
}

.box1, .box2{
    font-size: 15px;
    color: black;
    background-color: #EAEDF1;
    border-radius: 5px;
    border: 1px solid #B5B4B0;
    margin-top: 10px;
    padding: 5px 10px;
    height: 25px;
}
/* .box1, .box2{
    font-size: 15px;
    color: black;
    background-color: #EAEDF1;
    border: none;
    outline: none;   
    margin-top: 10px;
    padding: 10px 15px;
    height: 30px;
} */

/* .box1::placeholder, 
.box2::placeholder{
    color: #c7c5bbb1;
} */

.eye-icon{
    position: absolute;
    font-size: 25px;
    top: 55%;
    right: 245px;
    transform: translateY(-90%);
    cursor: pointer;
}

.label1{
    font-size: 25px;
    margin-right: 300px;
    margin-top: 20px;
    width: 100%;
}

/* .member{
    margin-top: 10px;
    text-align: center;
} */

.submit button {
    background-color: #AAD4E1; 
    font-size: 20px;
    color: black; 
    width: 150px;
    font-weight: bold;
    border-color: #c7c5bbb1; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
    margin-top: 40px;
}

.submit button:hover {
    background-color: #72abbb;
}

.member{
    margin-top: 10px;
    text-align: center;
}

.login{
    color: #0B5A6F;
    font-weight: bold;
}