.ad-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    width: 77vw;
}

.ad-card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.ad-card:hover {
    transform: translateY(-5px);
}

.ad-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.ad-info {
    padding: 25px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.ad-info h3 {
    font-size: 20px;
    margin: 5px 0;
    padding: 5px;
}

h3{
    padding: 10px;
}

p{
    padding: 10px;
}

.ad-info p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
    
}

.ad-details {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.ad-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
